<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
<link href='https://fonts.googleapis.com/css?family=Lato' rel='stylesheet' type='text/css'>
  <style>
  body {
  font-family: 'Lato', georgia;
  font-size: 25px;
  color: rgba(255, 255, 255, 1);
  background: linear-gradient(to top, #b0b5d6ec, #6c7ae0eb);
  text-align: center;
  font-weight: 300;
  -webkit-font-smoothing: antialiased;
}



</style>
</head>
<div style="  position: absolute;
  margin: auto;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 800px;
  height: 500px;">
<body>
<h2> Error = {{webpage.errorMessage}}</h2>

</div>
</body>
</html>
